body {
  background: #d7e3f7;
  padding:60px;
}

div#currency-container {
  background:white;
  width: 80%;
  margin: 0 auto 6px auto;
  padding: 1em;
  box-shadow: 2px 2px 0 lightgrey;
}

span.currency {
  font-weight: bold;
}

span.price {
  float:right;
}


options:{
  title:{
    display:true;
    text: 'Bitcoin Converter';
    fontSize:25
  },
  legend:{
    display:true;
    position:'right';
    labels:{
      fontColor:'#000'
    }
  },
  layout:{
    padding:{
      left:50;
      right:0;
      bottom:0;
      topt:0
    }
  },
  tooltips:{
    enabled:true
  }
};
