body {
  background: #d7e3f7;
  padding:60px;
}

div#currency-container {
  background:#d7e3f7;
  width: 80%;
  margin: 0 auto 6px auto;
  padding: 1em;
  box-shadow: 2px 2px 0 lightgrey;
  border: 1px solid blue;
}

span.currency {
  font-weight: bold;
}

span.price {
  float:right;
};
